{
    "env": {
        "node": false,
        "es6": true
    },
    "extends": ["./node_modules/@wgwergwegwer/configs/src/eslintrc-typescript.js"],
    "overrides": [
        {
            "files": "src/**/*.tsx",
            "parserOptions": {
                "ecmaFeatures": {
                    "jsx": true
                }
            },
            "plugins": ["react"],
            "extends": [
                "plugin:react/recommended"
            ],
            "rules": {
                "react/prop-types": "off",
                "react/react-in-jsx-scope": "off",
                "indent": "off"
            }
        }
    ]
}
